* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #212121;
  color: #fff;
}

.container {
  max-width: 1000px;
  border: 3px solid white;
}

.box {
  border: 2px solid white;
  width: 100px;
  height: 100px;
}

#static {
  background-color: red;
  position: static;
  left: 50px;
}

#relative {
  background-color: blue;
  position: relative;
  left: 100px;
}

#absolute {
  background-color: green;
  position: absolute;
  top: 50px;
  left: 200px;
}

#fixed {
  background-color: yellow;
  width: 1000px;
  height: 50px;
  position: fixed;
  top: 200px;
}

.childbox {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  position: relative;
}

#box1 {
  background-color: aqua;
  position: absolute;
  z-index: 3;
}

#box2 {
  background-color: blueviolet;
  position: absolute;
  z-index: 4;
}

#box3 {
  background-color: chartreuse;
  position: absolute;
  z-index: 1;
}
